.vs
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
.vs/
City-Feedback\.vs
City-Feedback.Tests
*.suo
*.user
*.pdb
*.tmp
*.cache
*.log
**/packages/
**/node_modules/
City-Feedback.Tests/obj/Debug/net8.0/City-Feedback.Tests.csproj.AssemblyReference.cache
City-Feedback.Tests/obj/Debug/net8.0/City-Feedback.Tests.AssemblyInfo.cs
City-Feedback.Tests/obj/Debug/net8.0/City-Feedback.Tests.AssemblyInfoInputs.cache
City-Feedback.Tests/obj/Debug/net8.0/City-Feedback.Tests.csproj.AssemblyReference.cache
