@page
@model City_Feedback.Pages.InfoModel
@{
    ViewData["Title"] = "Home page";
}
<div class="container">
    <div class="text-center mb-5">
        <h1 class="display-4">City Feedback</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <p class="justify-content-center">City Feedback je informacijski sistem, namenjen izboljšanju komunikacije med občani in občino.</p>
        </div>
    </div>
</div>