/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-upvb31ign5] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-upvb31ign5] {
  color: #0077cc;
}

.btn-primary[b-upvb31ign5] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-upvb31ign5], .nav-pills .show > .nav-link[b-upvb31ign5] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-upvb31ign5] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-upvb31ign5] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-upvb31ign5] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-upvb31ign5] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-upvb31ign5] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
.navbar .nav-link img.rounded-circle[b-upvb31ign5] {
    transition: transform 0.2s ease-in-out;
}

.navbar .nav-link:hover img.rounded-circle[b-upvb31ign5] {
    transform: scale(1.1);
}

/* Profilna slika pri objavah */
.card .rounded-circle[b-upvb31ign5] {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}