name: Deploy to Azure Web App (CityFeedback)

on:
  push:
    branches:
      - main
      - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Azure Web App
        uses: azure/login@v1
        with:
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}

      - name: Deploy Docker image to Azure
        uses: azure/webapps-deploy@v3
        with:
          app-name: cityfeedback
          images: 'lovro005/cityfeedback:latest'
