name: Deploy to Azure Web App

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Log in to Azure
      uses: azure/login@v2
      with:
        publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}

    - name: Deploy Docker image to Azure Web App
      uses: azure/webapps-deploy@v2
      with:
      app-name: cityfeedback-eecwf7fteze6gnd3
      images: 'lovro005/cityfeedback:latest'

